html {
  font-size: 17px;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  min-height: 500px;
}

.contact-full {
  background-image: url(../img/contact-full.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}


/** HEADER **/

.menu {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  font-size: .9rem;
  list-style: none;
  text-transform: lowercase;
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  max-width: 500px;
  margin: 0 auto;
}

.menu__link {
  text-decoration: none;
  color: #3c3c3c;
  transition: color .5s;
}

.menu__link--w {
  color: rgba(255, 255, 255, .8);
}

.menu__link:hover {
  color: #9c9c9c;
}

.menu__link--w:hover {
  color: rgba(255, 255, 255, 1);
}

.logo {
  max-width: 450px;
  margin: 0 auto;
  padding: 30px 10px;
}

.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}


/** FOOTER **/

.page-footer {
  border-top: 2px solid rgba(0, 0, 0, .15);
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
}

.page-footer--w {
  border-color: rgba(255, 255, 255, 0);
}

.copyright {}

.copyright__text {
  font-weight: 600;
  font-size: .7rem;
  line-height: 29px;
  margin-right: 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

.copyright__text--light {
  font-weight: 400;
  margin-right: 50px;
}

.icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.icon--contact {
  margin: 0;
  justify-content: flex-start;
}

.icon__link {
  display: block;
  margin: 2px 2px;
}

.icon__svg {
  fill: rgba(0, 0, 0, .8);
  transition: fill .4s;
  width: 25px;
  height: 25px;
}

.icon__svg--w {
  fill: rgba(255, 255, 255, .8);
  transition: fill .4s;
  width: 25px;
  height: 25px;
}

.icon__svg--contact {
  fill: rgba(0, 0, 0, .8);
  transition: fill .4s;
  width: 50px;
  height: 50px;
  padding: 0px 20px;
}

.icon__svg--contact {
  fill: rgba(255, 255, 255, .7);
  transition: fill .4s;
  width: 50px;
  height: 50px;
  margin-top: 30px;
}

.icon__link:hover .icon__svg {
  fill: rgba(0, 0, 0, .4);
}

.icon__link:hover .icon__svg--w {
  fill: rgba(255, 255, 255, 1);
}

.icon__link:hover .icon__svg--contact {
  fill: rgba(255, 255, 255, 1);
}


/** INDEX **/

.center-content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.photo-menu {
  margin: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.photo-menu__block {
  position: relative;
}

.photo-menu__link {
  display: block;
  widows: 100%;
}

.photo-menu__img {
  display: block;
  max-width: 100%;
}

.photo-menu__text {
  opacity: 0;
  transition: opacity .4s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}

.photo-menu__img--sub {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .9s;
}

.photo-menu__block:hover .photo-menu__text {
  opacity: 1;
}

.photo-menu__block:hover .photo-menu__img--sub {
  opacity: 1;
}

.photo-menu__descr {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.7rem;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.photo-menu__title {
  margin: 10px;
  padding-top: 40px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}


/** MODEL **/

.model-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.model-row {
  display: flex;
  justify-content: center;
}

.model-page__img-block {
  position: relative;
  margin: 20px 20px;
  max-height: 899px;
}

.model-page__img-block--full {
  max-width: 100%;
}

.model-page__img {
  max-width: 100%;
}

.model-page__text-block {
  position: absolute;
  top: 0;
  padding: 0 70px;
  padding-top: 100px;
  max-width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, .95);
  opacity: 0;
  transition: opacity .4s;
}

.model-page__img-block:hover .model-page__text-block {
  opacity: 1;
}

.model-page__title {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 3rem;
}

.model-page__title--small {
  font-size: 2.7rem;
}

.model-page__title--little {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 1.5rem;
}

.model-page__descr {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-align: justify;
}

.model-page__link {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.info-pic {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: .8;
  transition: opacity .4s;
}

.model-page__img-block:hover .info-pic {
  opacity: 0;
}


/** CATALOG **/

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__item {
  margin: 20px;
  margin-top: 0px;
  position: relative;
}

.catalog__link {
  display: block;
}

.catalog__img {
  display: block;
  max-width: 100%;
}

.catalog__img--sub {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .4s;
}

.catalog__item:hover .catalog__img--sub {
  opacity: 1;
}


/**  ABOUT **/

.about-page {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}

.about {
  width: 450px;
  margin-top: 50px;
}

.about-text__title {
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  font-size: 2rem;
  color: #000;
}

.about-text__descr {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: justify;
}

.about-text__descr:last-child {
  margin-bottom: 50px;
}

.about__img {
  max-width: 100%;
}


/** CONTACT **/

.center-content--contact {}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__img {
  display: block;
}

.contact__text {
  max-width: 40%;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2.1rem;
  text-transform: uppercase;
}


/** MEDIA **/

@media (max-width: 500px) {
  /** MAIN **/
  html {
    font-size: 12px;
  }
  .menu__links {
    font-size: 1rem;
  }
  .page-footer {
    flex-direction: column;
    justify-content: center;
    padding: 5px 0px;
  }
  .copyright {
    display: flex;
    justify-content: center;
  }
  .icon {
    justify-content: center;
    margin: 0;
  }
  .icon__hide {
    display: none;
  }
  .icon__svg {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
  }
  .copyright__text--light {
    margin: 0;
  }
  .catalog__img--sub {
    display: none;
  }
  .photo-menu__descr {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  /** MODEL **/
  .model-page__text-block {
    padding: 40px 30px 0px 30px;
  }
  .model-page__text-block {
    padding: 20px 10px 0px 10px;
  }
  .model-page__title--little {
    margin-bottom: 10px;
  }
  /** ABOUT **/
  .about-text {
    width: 100%;
    padding: 0px 5px;
  }
  /** CONTACT **/
  .contact {
    padding-bottom: 50px;
  }
  .contact__text {
    max-width: 90%;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .photo-menu {
    flex-direction: column;
    align-items: center;
  }
  .photo-menu__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 1;
    background-color: rgba(0, 0, 0, .2);
  }
  .photo-menu__title {
    padding-top: 10%;
  }
  .photo-menu__descr {
    font-weight: 400;
    font-size: 1rem;
  }
  .model-row {
    display: flex;
    flex-direction: column;
  }
  .model-page__text-block {
    opacity: 1;
  }
  .info-pic {
    opacity: 0;
  }
  .about-text {
    width: 450px;
  }
}