body {
  margin-top: 15px;
  font-size: 10px;
}

.menu {
  display: flex;
  justify-content:space-around;
  align-content: center;
  margin-bottom:65px;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: #3c3c3c;
  
  transition: color .5s;
}

.menu__link:hover {
  color: #9c9c9c;
}


.menu__links{
  font-size: 1rem;
}

.front-content{
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.logo {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.logo__img {
  max-width: 100%;
  height: auto;
}

.photo-menu {
  margin: 0px 0px;
  margin-bottom: 50px;
  
  display: flex;
  justify-content: space-between;
  
}

.photo-menu__block {
  position: relative;

}

.photo-menu__img {
  max-width: 100%;
  height: auto;
}

.photo-menu__descr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  
  opacity: 0;
  transition:opacity .4s;
  
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  
  background-color: rgba(0,0,0,.6);
}

.photo-menu__block:hover .photo-menu__descr{
  ;
  opacity: 1;
}

.photo-menu__text{
  padding: 20px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.9rem;
  text-align: left;
  
  text-transform: uppercase;
  
  color: #ffffff;
}

.photo-menu__title{
  margin: 10px;
  padding: 0;
  
  font-size: 2rem;
  font-weight: 400;
  
  text-transform: uppercase;
  color: #ffffff;
  
  text-align: center;
}


/** MODEL **/

.model-page {
  display: flex;
  justify-content:space-around
    ;
}

.model-page__img-block{
  max-width: 600px;
}

.model-page__img{
  max-width: 100%;
  margin-bottom: 30px;
  margin-left: 10px;
}


.model-page__text-block{
  width: 600px;
}

.model-page__title{
  font-weight: 300;
  font-size: 1.9rem;
}

.model-page__descr{
  font-size: 1.2rem;
  font-weight: 300;
}