html {
  font-size: 17px;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/** HEADER **/

.menu {
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .9rem;
  list-style: none;
  text-transform: lowercase;
  padding: 0px;
  padding-top: 10px;
  margin: 0px;
  
  max-width: 500px;
  margin: 0 auto;
}

.menu__link {
  text-decoration: none;
  color: #3c3c3c;
  transition: color .5s;
}

.menu__link:hover {
  color: #9c9c9c;
}


.logo {
  max-width: 450px;
  margin: 0 auto;
  
  padding: 30px 5px;

}

.logo__img {
  max-width: 100%;
  height: auto;
}




/** FOOTER **/

footer {
  border-top: 1px solid rgba(0,0,0,.2);
  display: flex;
  justify-content: flex-end;
  

  margin: 0px;
  padding: 20px 10%;
  
}

.front-footer{

}


/** INDEX **/

.center-content {
  display: flex;
    flex-grow: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  

}


.photo-menu {
  margin: 0px 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.photo-menu__block {
  position: relative;
}

.photo-menu__img {
  display: block;
  max-width: 100%;

}

.photo-menu__text {

  opacity: 0;
  transition: opacity .4s;
  position: absolute;
  width: 100%;
  height: 100%;
  

  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
}

.photo-menu__img--sub {
  position: absolute;
  width: 100%;

  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .4s;
}

.photo-menu__block:hover .photo-menu__text {
  opacity: 1;
}

.photo-menu__block:hover .photo-menu__img--sub {
  opacity: 1;
}

.photo-menu__descr {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.7rem;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.photo-menu__title {
  margin: 10px;
  padding-top: 40px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  

}

@media (max-width: 1000px) {
  

  
  .photo-menu {
    flex-direction: column;
    align-items: center;
  }

  
  .photo-menu__text {
    display: flex;
    flex-direction: column;
    


    justify-content: flex-end;
  opacity: 1;
  background-color: rgba(0, 0, 0, .2);
}
  
  .photo-menu__title {

    padding-top: 10%;
  }
  
  .photo-menu__block{

  }
  
  .photo-menu__descr{
    font-weight: 400;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
    .photo-menu__descr{
    font-weight: 400;
    font-size: 1.3rem;
      line-height: 2rem;
  }
}


/** MODEL **/

.model-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.model-row {
  display: flex;
  justify-content: center;
}

.model-page__img-block {
  position: relative;
  margin: 2% 20px;
  max-height: 899px;
}

.model-page__img-block--full {
  max-width: 100%;

}

.model-page__img {
  max-width: 100%;
}

.model-page__text-block {
  position: absolute;
  top: 0;
  padding: 0 70px;
  padding-top: 100px;
  max-width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, .8);
  opacity: 0;
  transition: opacity .4s;
}

.model-page__img-block:hover .model-page__text-block {
  opacity: 1;
}

.model-page__title {
  padding: 0;
  margin: 0;

  font-weight: 300;
  font-size: 3.5rem;
}

.model-page__title--little {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 1.5rem;
}

.model-page__descr {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-align: justify;
}



.info-pic {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: .8;
  transition: opacity .4s;
}

.model-page__img-block:hover .info-pic {
  opacity: 0;
}

@media (max-width: 1000px) {
  

  
  .model-row {
  display: flex;
  flex-direction: column;
}
  .model-page__text-block {
    opacity: 1;
  }
  .info-pic {
    opacity: 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
  .menu__links {
    font-size: 1rem;
  }
  
  .model-page__text-block {
    padding: 40px 30px 0px 30px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }

  
  .model-page__text-block {
    padding: 20px 10px 0px 10px;
  }
}



/** CATALOG **/

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.catalog__item{
  margin: 20px;
  margin-top: 0px;
  position: relative;
  

}

.catalog__img {
  display: block;
  max-width: 100%;
}

.catalog__img--sub{
  position: absolute;
  top:0;
  left: 0;
  opacity: 0;
  transition: opacity .4s;
}

.catalog__item:hover .catalog__img--sub{
  opacity: 1;
}



/**  ABOUT **/
.about{
  display: flex;
  justify-content: center;
  flex-basis: 400px;


}

.about-text{
  width: 40%;
  margin-top: 50px;
}

.about-text__title {
  
  padding: 0px;
  margin: 0px;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 3.5rem;
  color: #fff;
  
  background-image: url(../img/bg-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.about-text__descr{
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}
.about__img{
  max-width: 100%;
}

.about__img-bg{
  width: 100%;
  height: 200px;
  
  background-image: url(../img/alfia.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}


@media (max-width: 1000px) {
    .about-text{width: 60%;
}
  
}



@media (max-width: 500px) {
    .about-text{
      width: 100%;
}
  
  .about-text__title {

  background-image: url(../img/bg-about-small.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;

}
  
}




/** CONTACT **/

.contact {
  display: flex;
}

.contact__img{
  display: block;
  max-width: 100%;
  
  padding-left: 20%;
}

.contact__text{
  padding-left: 20px;
}


.contact-form {
  width: 350px;
}

.contact-form__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form__input-text {
  margin: 10px 0;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 15px;
  height: 34px;
  width: 100%;
  font-size: 1.5rem;
  border: 3px solid #e8e8e9;
  outline: none;
}

.contact-form__input-text:focus {
  border: 3px solid #000;
}

.contact-form__input-text--message {
  font-size: 1.7rem;
  height: 176px;
}

input[type=submit] {
  background-color: #fff;
}

.contact-fotm__btn{
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 5px 6px 5px 0px;
  padding: 4px 10px;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border: 3px solid #fff;
  border-color: #000;
  cursor:pointer;
}



/** SPRITE **/


.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
  
    margin: 0 10px;
  
    opacity: .7;
}

.sprite-email {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-instagram {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.sprite-vk {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}
